<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <!--  <listeners>
        <listener class-name="org.example.MyTestListener"/>
    </listeners>-->
    <test verbose="2" preserve-order="false" name="MentorED API Validations">
        <!--<parameter name="ENV" value="POD1"></parameter>
        <parameter name="Browser" value="Chrome"></parameter>-->
        <classes>

            <class name="org.shikshalokam.backend.TestGetOrgPolicies">
                <methods>
                    <include name="testGetOrgPolicies"/>
                </methods>
            </class>
            <class name="org.shikshalokam.backend.TestMentoringQuestionsCreate">
                <methods>
                    <include name="testCreatingQuestion"/>
                </methods>
            </class>
            <class name="org.shikshalokam.backend.TestMentoringQuestionSetCreate">
                <methods>
                    <include name="testMentoringQuestionSetCreate"/>
                </methods>
            </class>

        </classes>

    </test>
</suite>