name: MentorED Sanity Automation Run

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'zulu'

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Check Current Directory
        run: |
          echo "Current Directory:"
          pwd
          echo "Files in Current Directory:"
          ls -al

      - name: Copy Configuration File
        run: cp ./src/main/resources/config/automation.MentorED_QA.properties ./src/main/resources/config/automation.properties

      - name: Build with Maven and run tests
        run:  mvn clean test -DsuiteXmlFile="UISanitySuite.xml"
        
      - name: Zip the Reports Folder (If Exists)lÌ¥
        run: |
          if [ -d "./target/screenshots" ]; then
            zip -r ./target/Automation_Failure_Screenshots.zip ./target/screenshots
          else
            echo "Screenshots folder does not exist. Skipping zipping step."
          fi

      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: "Test Status - ${{ github.workflow }}"
          body: "The test run for the project has completed with status: ${{ job.status }}."
          to: "sl-qa@shikshalokam.org"
          from: "automation@shikshalokam.org"
          secure: false
          attachments: ./target/ExtentReport.html
